# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcarchive
*.dSYM/
*.ipa
xcuserdata/
*.xcuserstate
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods
Pods/

# Signing
*.p12
*.mobileprovision
*.cer
*.provisionprofile
